* {
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro;
}

/* membership_section starts here */
.membership_section {
    background-color: rgba(7, 22, 41, 1);
    display: flex;
    flex-direction: column;
    padding: 2.5rem 9rem;
}

.membership_section h2 {
    text-align: center;
    color: white;
    font-weight: 100;
}

.membership_section h2 span {
    text-align: center;
    color: rgba(194, 113, 255, 1);
    font-weight: bold;
}



/* membership_section ends here */

/* FAQ section starts here */
.faq_section {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 10rem;
}

.faq_section h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    line-height: 75.42px;
}

.faq_content_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.faq_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.faq_content_info {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq_content_info p {
    color: rgba(7, 22, 41, 0.5);
    font-size: .8rem;
    
}
/* FAQ section ends here */


/* Footer Starts Here */
footer {

    background-color: rgba(7, 22, 41, 1);
    width: 100%;
    display: flex;

}

.footer_section {
    padding: 2rem 6rem;
    width: 100%;
}

.socialmedia_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
}

.social_icons {
    display: flex;
    gap: 0.5rem;

}

.fa-brands {
    color: white;
}

.footer_section p {
    color: rgb(70, 64, 64);
    font-size: .8rem;
    text-align: center;
    padding-top: 2rem;
}

/* Footer Ends Here */